body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: Arial;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(90deg, #111, #222, #111);
    border-bottom: 2px solid #0ff;
    box-shadow: 0 0 20px #0ff;
}

.logo {
    font-size: 28px;
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
}

nav a {
    margin: 0 15px;
    color: #0ff;
    text-decoration: none;
}

nav a:hover {
    text-shadow: 0 0 10px #0ff;
}

.hero {
    text-align: center;
    padding: 80px;
}

.btn {
    background: #0ff;
    color: #000;
    padding: 12px 28px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

/* Popup */
.endPopup {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.popupBox {
    background: #111;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #0ff;
    text-shadow: 0 0 10px #0ff;
}

.exitBtn {
    margin-top: 10px;
    background: red;
    padding: 10px 20px;
    border-radius: 8px;
}
